*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

:root {
  /* Primary Colors */
  --strong-cyan: hsl(172, 67%, 45%);

  /* Neutral Colors */
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

/* General */

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--light-grayish-cyan);

  display: grid;
  place-items: center;
  padding-bottom: 100px;
}

input[type="number"] {
  font-size: 24px;
  border: none;
  outline: none;
  background-color: transparent;
  text-align: right;
  color: var(--very-dark-cyan);
}

input[type="number"]::placeholder {
  color: var(--light-grayish-cyan);
}

.tip-amount-grid input[type="number"]::placeholder {
  color: var(--dark-grayish-cyan);
}

.tip-amount-grid .text-input {
  height: 100%;
}

.tip-amount-grid input[type="number"] {
  height: 100%;
}

input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.tip-amount-grid label {
  display: inline-block;
  background-color: var(--very-dark-cyan);
  color: var(--very-light-grayish-cyan) !important;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.tip-amount-grid label:hover {
  background-color: var(--light-grayish-cyan);
  color: var(--very-dark-cyan);
}

input[type="radio"]:checked + label {
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
}

button {
  outline: none;
  border: none;
  background-color: var(--white);
  opacity: 0.15;
  color: var(--very-dark-cyan);
}

button:hover,
button:focus-visible {
  background-color: var(--light-grayish-cyan);
  color: var(--very-dark-cyan);
  opacity: 1;
}

.text-input {
  display: flex;
  width: 100%;
  background-color: var(--very-light-grayish-cyan);
  padding: 5px 5px 5px 15px;
  height: min-content;
  align-items: center;
}

.text-input input {
  flex-grow: 1;
}

/* Tip Component */

#tip-component {
  background-color: var(--white);
  border-radius: 25px;
  width: clamp(50vw, 65vw, 100vw);
  height: clamp(450px, 50vh, 65vh);
  padding: 40px;
  position: relative;
}

#tip-form {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 40px;
}

.tip-amount-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(2, 60px);
  gap: 10px;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left label {
  color: var(--grayish-cyan);
}

label[for="amount-of-people"] + .text-input, label[for="bill"] + .text-input {
  margin-top: 10px;
}

.right {
  background-color: var(--very-dark-cyan);
  border-radius: 15px;
  padding: 40px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right h1 {
  color: var(--light-grayish-cyan);
  font-size: 16px;
  line-height: 1;
}

.right div div:first-of-type {
  margin-bottom: 50px;
}

.right h2 {
  color: var(--grayish-cyan);
  font-size:14px;
}